# docker-compose.yml (dans le dossier racine du projet)
services:
  backend:
    build:
      context: ./E-LearningBackend
      dockerfile: Dockerfile
    container_name: elearning-backend
    ports:
      - "5000:5000"
      #node environment variables(des variables)
    environment:
      - NODE_ENV=development
      - PORT=5000
      - URL_MONGO=mongodb+srv://mnasrianas5:Q%21c4bi-R%25zMjv_N@e-learning.4xo68wt.mongodb.net/elearning-db?retryWrites=true&w=majority&appName=E-learning
      - JWT_SECRET=your_super_secret_jwt_key_here
      - EMAIL_USER=eelearninglanguage@gmail.com
      - EMAIL_PASS=uxzfbmpvivrpyzrt
    networks:
      - elearning-network
    restart: unless-stopped
    # Healthcheck retiré car curl n'est pas installé dans node:18-alpine
   
    

  frontend:
    build:
      context: ./E-LearningFrontend
      dockerfile: Dockerfile
    container_name: elearning-frontend
    ports:
      - "3000:3000"  # Port 3000 externe -> port 3000 interne (npm start)
    depends_on:
      - backend
    networks:
      - elearning-network
    restart: unless-stopped
    environment:
      # Utilisation du nom du service backend dans Docker
      - REACT_APP_API_URL=http://backend:5000
      # Variables pour npm start
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true

networks:
  elearning-network:
    driver: bridge
