services:
  backend:
    build:
      context: ./E-LearningBackend
      dockerfile: Dockerfile
    container_name: elearning-backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000
      - URL_MONGO=mongodb+srv://mnasrianas5:Q%21c4bi-R%25zMjv_N@e-learning.4xo68wt.mongodb.net/elearning-db?retryWrites=true&w=majority&appName=E-learning
      - JWT_SECRET=your_super_secret_jwt_key_here
      - EMAIL_USER=eelearninglanguage@gmail.com
      - EMAIL_PASS=uxzfbmpvivrpyzrt
    networks:
      - elearning-network
    restart: unless-stopped

  frontend:
    build:
      context: ./E-LearningFrontend
      dockerfile: Dockerfile
      args:
        # ✅ /api sera proxifié par nginx vers http://backend:5000
        - REACT_APP_API_URL=/api
    container_name: elearning-frontend
    ports:
      - "3000:80"   # ✅ nginx écoute sur le port 80 en interne
    depends_on:
      - backend
    networks:
      - elearning-network
    restart: unless-stopped

networks:
  elearning-network:
    driver: bridge